<!DOCTYPE html>
<html>
<head>
  <title>Hello Brenda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/articles">HELLO BRENDA</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/articles/new">Add An Article</a></li>
      <li>what about this</li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="tagfilter" type="text" class="form-control" placeholder="Filter by Tag">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEMBER<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to('SIGN OUT', destroy_user_session_path, :method => :delete) %> </li>
        <% else %> 
          <li><%= link_to('SIGN IN', new_user_session_path) %> </li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to('EDIT DETAILS', edit_user_registration_path) %> </li>
        <% else %> 
          <li><%= link_to('SIGN UP', new_user_registration_path) %> </li>
        <% end %>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class='notice'>
  <%= flash[:notice] %>
</div>

<div class='alert'>
  <%= flash[:alert] %>
</div>

<%= yield %>

</body>
</html>
+-